{%extends 'accueil.html'%} 
{%block corps%}            
   <form class="ui form" style="width:50%" method = "POST">
      <h4 class="ui dividing header">MODIFIER UN REFERENTIEL</h4>
      <div class="two fields">
         <div class="required field">
            <label>Nom référentiel</label>
            {% for val in result_up_ref %}
            <input type="text" name="nom_ref" value="{{ val[0] }}">
            {% endfor %}
         </div>     
      </div>  
      <div class="two fields">
         <div class="field" style="width:auto"> 
            <button type="submit" value="ajout_ref" class="btn btn-primary" id="btnDangerCenter" style="background:#ee8029; border: #ee8029; width: 90px; margin-top:8px ">Modifier</button>
         </div>
         <div class="field">
            <a href="{{ url_for('lister_referentiel') }}" class="btn btn-primary" style="background:#c93934; border: #c93934; width: 90px; margin-top:8px ">Annuler</a>
         </div>
      </div>
      {% with messages = get_flashed_messages() %}
         {% for message in messages %} 
            <script>
               var someJavaScriptVar = '{{ message }}';
            </script>

            {% if message%}
               {% if message=="WARNING : Le référentiel existe déjà" %}
                  <script type="text/javascript">
                     $().ready(function() {
                        $.uiAlert({
                           textHead: someJavaScriptVar,
                           text: '', // Text
                           bgcolor: '#DB2828', // background-color
                           textcolor: '#fff', // color
                           position: 'top-center',// position . top And bottom ||  left / center / right
                           time: 3, // time
                         })
                     });
                  </script>
     
               {%endif%}
            {%endif%}
        {% endfor %}      
      {% endwith %}
      <!-- Script pour la validation des champs -->
      <script>
         $('.ui.form')
         .form({
            fields: {
               nom_ref : 'empty',
            }
         });
      </script>
   </form>
{%endblock corps%}   