{%extends 'accueil_admin.html'%} 
{%block corps%}         
   <!-- Formulaire -->
   <form class="ui form" style="width:50%" method = "POST">
      <h4 class="ui dividing header" style="text-align:center">MODIFIER UN UTILISATEUR</h4>
      {% for val in result_up_user %}
       
               <!-- Champ prenom et nom -->
      <div class="two fields">      
         <div class="required field">
            <label>Prénom</label>
            <input type="text" name="prenom" placeholder="Prénom" value="{{val[0]}}">
         </div>
            
         <div class="required field">
            <label>Nom</label>
            <input type="text" name="nom" placeholder="Nom de famille" value="{{val[1]}}">
         </div>
      </div>
      
      <!-- Username et password -->
      <div class="two fields">
         <div class="required field">
            <label>Nom d'utilisateur</label>
            <input type="text" name="username" value="{{ val[2] }}">
         </div>    
         <div class="required field">
            <label>Mot de passe:</label>
            <input type="password" name="password">
         </div>
      </div>

      <!-- Champ prenom et nom -->
      <div class="two fields">      
         <div class="required field">
            <label>Choisir image</label>
            <input type="file" name="image" value="{{ val[3] }}" accept="image/png, image/jpeg">
         </div>
      </div>

      {% endfor %} 
      <div class="two fields">
         <div class="field" style="width:auto">
            <button  href="{{ url_for('modifier_user') }}" value="ajout_app" class="btn btn-primary" style="background:#ee8029; border: #ee8029; width: 90px; margin-top:8px ">Modifier</button>
         </div>
         <div class="field">
               <a href="{{ url_for('lister_user') }}" class="btn btn-primary" style="background:#c93934; border: #c93934; width: 90px; margin-top:8px ">Annuler</a>
         </div>
      </div>
      {% with messages = get_flashed_messages() %}
         {% for message in messages %} 
         <script>
            var someJavaScriptVar = '{{ message }}';
         </script>

            {% if message%}
               {% if message=="WARNING : L'utilisateur existe déjà" %}
                  <script type="text/javascript">
                     $().ready(function() {
                        $.uiAlert({
                           textHead: someJavaScriptVar,
                           text: '', // Text
                           bgcolor: '#DB2828', // background-color
                           textcolor: '#fff', // color
                           position: 'top-center',// position . top And bottom ||  left / center / right
                           time: 3, // time
                        })
                     });
                  </script>
               {%endif%}
            {%endif%}
         {% endfor %}      
      {% endwith %}
      <!-- Script pour la validation des champs -->
      <script>
         $('.ui.form')
         .form({
            fields: {
               prenom         : 'empty',
               nom            : 'empty',
               sexe           : 'empty',
               date_naissance : 'empty',
               lieu_naissance : 'empty',
               adresse        : 'empty',
               email          : 'empty',
               telephone      : 'empty',
               promo          : 'empty',
               prompt : 'Please enter a username'
            }
         });
      </script>
   </form>
{%endblock%}   
